<nav class="navbar is-transparent is-fixed-top has-shadow">
  <div class="navbar-brand">
     <a class="navbar-item" routerLink="/home/" (click)="closeAllDropdown()">
     <img src="https://openclipart.org/download/215827/Happy-Penguin.svg" alt="logo">
     </a>
     <div class="navbar-burger burger" data-target="navbarFull" (click)="toggleFullDropdown()">
        <span></span>
        <span></span>
        <span></span>
     </div>
  </div>
  <div id="navbarFull" class="navbar-menu" [class.is-active]="fulldown">
     <div class="navbar-start">
        <a class="navbar-item" routerLink="/cards" (click)="closeAllDropdown()">
        Cards
        </a>
     </div>
     <div class="navbar-end">
        <div class="navbar-item has-dropdown" [class.is-active]="down" *ngIf="this.accoutService.authenticated">
        <a class="navbar-link" (click)="toggleDropdown()">
           <div class="thumpbnail">
              <img class="avatar" [src]="pictureUrl" onerror="this.src='/assets/placeholder.png';">
           </div>
        </a>
        <div class="navbar-dropdown is-boxed" (mouseleave)="closeDropdown()">
           <a class="navbar-item" routerLink="/account" (click)="closeAllDropdown()">
           Account
           </a>
           <a class="navbar-item" routerLink="/settings" (click)="closeAllDropdown()">
           Settings
           </a>
           <hr class="navbar-divider">
           <a class="navbar-item" routerLink="/home" (click)="logout()">
           Log out
           </a>
        </div>
     </div>
     <div class="navbar-item" (click)="closeAllDropdown()"  *ngIf="!this.accoutService.authenticated">
     <div class="field is-grouped">
        <p class="control">
           <a class="button" routerLink="/register/">
           <span class="icon">
           <i class="fa fa-user"></i>
           </span>
           <span>
           Sign up
           </span>
           </a>
        </p>
        <p class="control">
           <a class="button is-primary" routerLink="/login/">
           <span class="icon">
           <i class="fa fa-sign-in"></i>
           </span>
           <span>Login</span>
           </a>
        </p>
     </div>
  </div>
  </div>
  </div>
</nav>
