<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<app-navbar></app-navbar>
<div class="hero">
  <div class="container" style="margin-top: 4rem">
  <router-outlet></router-outlet>
</div>
</div>



