<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="has-text-centered box loginbox">
         <form #formdata="ngForm" (ngSubmit)="loginUser(formdata)">
           <div class="field">
             <div class="control">
               <input class="input " type="text" name="username" placeholder="Email or Username" autofocus="" ngModel>
             </div>
           </div>
           <div class="field">
             <div class="control">
               <input class="input " type="password" name="password" placeholder="Your Password" ngModel>
             </div>
           </div>
           <div class="field">
             <label class="checkbox">
               <input type="checkbox" name="rememberMe" ngModel>
               Remember me
             </label>
           </div>
           <button class="button is-block is-info" type="submit">Login</button>
         </form>
         <p class="has-text-grey">
          <a href="../">Forgot password</a>
         </p>
       </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
